body {
	margin: 0;
	font-family: Helvetica;
	background-color: yellow;
}

h1 {
	font-size: 48px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}